 body {
     margin: 0px;
     padding: 0px;
     /*background: url(assets/bg1.jpg) center !important;
		background-size: cover;*/
     /*// background: #1F2D3D;*/
     font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
     font-size: 14px;
     -webkit-font-smoothing: antialiased;
 }
 
 #app {
     position: absolute;
     top: 0px;
     bottom: 0px;
     width: 100%;
 }

$jing:"#";
/*±³¾°ÑÕÉ«*/
$bgColors: ("eef1f6","f8f8f8");
@each $color in $bgColors {
    .bg-#{$color} {
        background-color: #{$jing}#{$color};
    }
}

.mg0{
    margin:0;
}
.w100{
    width:100;
}
 .float-right{
     float:right;
 }